reporting/nifi-flows/Requisitions_Connector.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>b0227720-016a-1000-6d37-28dd0a742081</groupId>
    <name>Requsitions</name>
    <snippet>
        <processGroups>
            <id>915456a7-548b-3707-0000-000000000000</id>
            <parentGroupId>a1303c58-8286-327b-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>915456a7-548b-3707-920b-5bb1a9e31d41</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0805766d-656b-3ab8-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>5c84bb06-aa31-3875-aa58-cfa21a090e42</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>0aaa533a-cde9-3a00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e07a00b-ffc4-374d-b8a8-76fc898f9b23</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>f782629e-fbb2-3806-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>772ee391-20d6-3623-920b-9a6975c4449b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0dfcfb35-d364-37a0-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>a69ced03-58cd-376b-975f-b4ef4e9a55a2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>0bccf057-8b6c-3e3d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>64de36a4-83b0-37a4-bbc1-2b3ded38f5a4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>44808402-4f06-3a90-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a528bf0c-46b6-3ee5-a581-e9aba137a5a1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>16cbef24-e1b5-3d89-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>7ddf1786-a311-39f4-8cae-f64b25bd2716</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>cdab6d55-8475-30c4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>283c0a2d-6bb9-388d-a652-a2e5b3e79974</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>3fa694bf-9e08-3d27-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>60ddd1b7-8806-326f-a436-f9096ae2ca3d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>196f1c8f-a764-35f0-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>62618874-6b60-33f3-a0b4-6cc7b00bae96</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>f782629e-fbb2-3806-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>772ee391-20d6-3623-920b-9a6975c4449b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6251b490-d017-3d34-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f4bfae40-c157-32c1-804b-24cebfa854ce</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2c06e2a2-9689-32eb-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>93b75cd9-d280-38c7-8430-1bdf7c6bfe26</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>727860bc-5fc1-356b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>10ae6edb-ce2d-3509-8c76-ebc590450c07</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>0bccf057-8b6c-3e3d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>64de36a4-83b0-37a4-bbc1-2b3ded38f5a4</versionedComponentId>
                    </source>
                    <zIndex>1</zIndex>
                </connections>
                <connections>
                    <id>2f0524d1-1429-3401-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>32e2a04b-c47e-35a3-9c19-18b85b80ad46</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>102c7aec-d465-3b13-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cc9bb8c4-fa6c-3a59-af6d-4fdb8e30167c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>bd5b1a1e-69ba-3a98-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7d1da732-e7ec-3464-859c-47fb6b93efa9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2f13a382-cd28-3b4a-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>6f0cf320-df4f-35c4-a6ad-747286089af3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>777.6639556884766</x>
                        <y>695.9645538330078</y>
                    </bends>
                    <bends>
                        <x>777.6639556884766</x>
                        <y>745.9645538330078</y>
                    </bends>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>9db89d72-02d1-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>40a7dfce-16cb-37d9-a8d1-4a923b82cdd1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>9db89d72-02d1-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>40a7dfce-16cb-37d9-a8d1-4a923b82cdd1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3ed4774e-8c41-33eb-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>03b22d77-6cb7-39b5-a107-de90d54b3409</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
                        <id>d558a980-2700-3646-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>1d1193a5-4cf8-3728-b5cb-10d2cdd5d3dd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6c4b035e-6818-3447-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>04bf42d7-ad77-3ef1-b5ae-daf22ddf9571</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4098be0e-e2f6-310b-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>36476931-d6f5-3e8a-ad1a-75f18867c0d8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>44808402-4f06-3a90-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a528bf0c-46b6-3ee5-a581-e9aba137a5a1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>102c7aec-d465-3b13-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cc9bb8c4-fa6c-3a59-af6d-4fdb8e30167c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>447cbc4c-8d86-313c-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>a554753e-cf42-3325-b8c5-f38615871c8f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>2acab135-aeca-3f37-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>71e83abf-233e-38e0-8ac2-0c495bac2d74</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>9db89d72-02d1-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>40a7dfce-16cb-37d9-a8d1-4a923b82cdd1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>450bf7e1-5376-3b0e-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>d3a32173-0833-3c4f-a64c-8674da032198</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>eba538b4-b783-369e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c89f4497-34aa-344d-9c97-0b1e170332f9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>e510d89c-5cef-3e42-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>12e62d8a-b27d-3d1d-8800-e2a03abe3981</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>48e37f16-d2e8-338f-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>ecab0b3c-01ae-3243-b6a2-ebadf60be783</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>9d933e97-cace-3355-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>993c92fa-280e-3351-b115-276dc49f0eee</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>259caa05-3ca2-34e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1291a750-aaef-3669-8771-0e3c6c26644c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4f6e35ed-c84e-3f92-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>fe358014-c616-334e-b4b2-5b23747a7145</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>b6f58b34-4a08-3992-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca19a6ca-ec3f-3441-8baf-9183000107d4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>2d62cdc3-58f5-3e58-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb1eea1b-4169-30a6-90fe-e073f8290c49</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>57a3db3f-3af5-392b-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>58feac44-51e7-33f2-8428-52528dad0921</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1327.2228240966797</x>
                        <y>-82.60225677490234</y>
                    </bends>
                    <bends>
                        <x>1327.2228240966797</x>
                        <y>-32.602256774902344</y>
                    </bends>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6c4b035e-6818-3447-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>04bf42d7-ad77-3ef1-b5ae-daf22ddf9571</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6c4b035e-6818-3447-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>04bf42d7-ad77-3ef1-b5ae-daf22ddf9571</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6846f7a7-4d0d-347f-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>6846f7a7-4d0d-347f-a4f7-b8e22b272087</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>bd5b1a1e-69ba-3a98-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7d1da732-e7ec-3464-859c-47fb6b93efa9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
                        <id>8c84bb48-454b-3b59-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>9e175779-39d6-3e34-8b56-1765b4881008</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7540b3a1-1eb4-3c64-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>07d4d178-fecd-3377-b2f9-95085a9e3725</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>259caa05-3ca2-34e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1291a750-aaef-3669-8771-0e3c6c26644c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>data</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>0aaa533a-cde9-3a00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e07a00b-ffc4-374d-b8a8-76fc898f9b23</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>98a7ac57-37ce-30ce-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>897211bc-86a7-3714-a186-0da50ff87432</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
                        <id>1a16a515-7fb4-3dbe-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>825e4c9b-f5fd-3c36-9aee-a6b8f6fb6be0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>d9e6fab8-71a2-36f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d126f1d6-b01c-3b41-a584-c7783ac5a4db</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9b7486ba-76a1-39f9-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>7e68f18d-0c62-3645-a376-b81a58ad3d3e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>3fa694bf-9e08-3d27-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>60ddd1b7-8806-326f-a436-f9096ae2ca3d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>15574a64-8b52-3be0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b6186496-6633-3eef-8e52-ec2dabd3da8c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9c0570d5-8580-3246-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>f720ad85-ba6d-350b-921e-092e372e04ae</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>b6f58b34-4a08-3992-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca19a6ca-ec3f-3441-8baf-9183000107d4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>cdab6d55-8475-30c4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>283c0a2d-6bb9-388d-a652-a2e5b3e79974</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cb8158a6-6cf2-3d25-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>0cb1206b-7cce-368e-967c-483cddc1db21</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>7017ad5b-959f-3f3e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>52bd814d-3253-3bfd-9fcf-a765d60cac37</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>eba538b4-b783-369e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c89f4497-34aa-344d-9c97-0b1e170332f9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ccf9575e-c7de-3c0e-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>90b396a2-39b0-32f1-b5e0-c9d8e244e5cc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>2d62cdc3-58f5-3e58-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cb1eea1b-4169-30a6-90fe-e073f8290c49</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>insert</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>15574a64-8b52-3be0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b6186496-6633-3eef-8e52-ec2dabd3da8c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cf38f853-047d-351b-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>75a0c774-477b-365d-9605-eb606b5ea99b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>15574a64-8b52-3be0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b6186496-6633-3eef-8e52-ec2dabd3da8c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>b9edc27c-626d-3cba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e74632ff-0681-378d-9b82-6bee6739238b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cfbee762-bc68-3907-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>063f84ee-a683-3bc4-91bd-41189594e937</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6251b490-d017-3d34-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f4bfae40-c157-32c1-804b-24cebfa854ce</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>2acab135-aeca-3f37-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>71e83abf-233e-38e0-8ac2-0c495bac2d74</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d23377e4-c6ed-300f-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>4435afb9-f932-3620-8aaa-19a9d3733d31</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>d9e6fab8-71a2-36f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d126f1d6-b01c-3b41-a584-c7783ac5a4db</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>7017ad5b-959f-3f3e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>52bd814d-3253-3bfd-9fcf-a765d60cac37</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc9ab290-e506-3014-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>cee484be-2cd0-3498-b0f4-6cefb779a088</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>b9edc27c-626d-3cba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e74632ff-0681-378d-9b82-6bee6739238b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>9d933e97-cace-3355-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>993c92fa-280e-3351-b115-276dc49f0eee</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>de2ca916-6f5a-36d3-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>17fc3fcf-6596-38c0-bc79-19e085fa5b36</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6c4b035e-6818-3447-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>04bf42d7-ad77-3ef1-b5ae-daf22ddf9571</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
                        <id>2cad9b6d-6eda-3302-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>7e4f232e-002c-35ce-a726-414d803f1dd0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df3b6787-675b-3115-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>df3b6787-675b-3115-bfde-4d753e3895b3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>771.7046097555575</x>
                        <y>-21.159754762543344</y>
                    </bends>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>6c4b035e-6818-3447-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>04bf42d7-ad77-3ef1-b5ae-daf22ddf9571</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
                        <id>c782f0a4-16d2-3c7e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8ba31a48-d6e2-3755-9b50-59339618a085</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e1c98984-67e9-364c-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>f79d3eab-93f2-383a-98a2-beddc90b05e1</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>9db89d72-02d1-310d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>40a7dfce-16cb-37d9-a8d1-4a923b82cdd1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>727860bc-5fc1-356b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>10ae6edb-ce2d-3509-8c76-ebc590450c07</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e44b11ba-fc6d-3ff7-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>bdc83dbd-59af-351a-9dc6-c997db5a960f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>213.66542053222656</x>
                        <y>1797.4557189941406</y>
                    </bends>
                    <bends>
                        <x>213.66542053222656</x>
                        <y>1830.2577209472656</y>
                    </bends>
                    <destination>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>b6f58b34-4a08-3992-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca19a6ca-ec3f-3441-8baf-9183000107d4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>915456a7-548b-3707-0000-000000000000</groupId>
                        <id>b6f58b34-4a08-3992-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ca19a6ca-ec3f-3441-8baf-9183000107d4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>3a1c71e7-622f-3dcf-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <versionedComponentId>261918c4-7115-3802-8af0-c4bb7dbeeb3b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:postgresql://db:5432/open_lmis_reporting</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.postgresql.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>postgres</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <processGroups>
                    <id>26c9f88c-a5ed-3337-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>302.4383501524803</x>
                        <y>-140.16726295951628</y>
                    </position>
                    <versionedComponentId>30aa13fe-f9d7-36f4-bc3c-79da0e76df17</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>17a756f4-58ad-3dd3-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <versionedComponentId>73f0e2b1-bbaa-3b8a-bb45-7b3246d7f585</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>293c7010-6222-3bda-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b23767b4-f6a3-3f88-8014-5eebfa797546</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>5526ffb5-290f-32f8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db27eda3-94a5-390a-b907-6dd4e277f9c8</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6a910b61-3018-399c-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <versionedComponentId>22735c3d-cff0-3a51-98a1-307e6b43f1c0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>796.1442291393239</x>
<y>-141.79123408506723</y>
                            </bends>
                            <bends>
<x>796.1442291393239</x>
<y>-91.79123408506723</y>
                            </bends>
                            <destination>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>5526ffb5-290f-32f8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db27eda3-94a5-390a-b907-6dd4e277f9c8</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>5526ffb5-290f-32f8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db27eda3-94a5-390a-b907-6dd4e277f9c8</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bafe15d5-a23f-3d09-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <versionedComponentId>ee6da43d-cbeb-3e84-ae9f-f23ad3b9bb23</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>2cad9b6d-6eda-3302-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>7e4f232e-002c-35ce-a726-414d803f1dd0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>293c7010-6222-3bda-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b23767b4-f6a3-3f88-8014-5eebfa797546</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fbc89c85-f167-3895-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <versionedComponentId>b89fa966-f78d-316b-b4d3-917e34aff840</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>5526ffb5-290f-32f8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db27eda3-94a5-390a-b907-6dd4e277f9c8</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <source>
<groupId>26c9f88c-a5ed-3337-0000-000000000000</groupId>
<id>1a16a515-7fb4-3dbe-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>825e4c9b-f5fd-3c36-9aee-a6b8f6fb6be0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>1a16a515-7fb4-3dbe-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <position>
<x>396.1442291393239</x>
<y>-286.36871827198024</y>
                            </position>
                            <versionedComponentId>825e4c9b-f5fd-3c36-9aee-a6b8f6fb6be0</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Empty table</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>2cad9b6d-6eda-3302-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <position>
<x>398.1442291393239</x>
<y>216.54541778564453</y>
                            </position>
                            <versionedComponentId>7e4f232e-002c-35ce-a726-414d803f1dd0</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Return token</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>293c7010-6222-3bda-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <position>
<x>341.1442291393239</x>
<y>14.994930879439153</y>
                            </position>
                            <versionedComponentId>b23767b4-f6a3-3f88-8014-5eebfa797546</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.7.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>access_token</key>
        <value>
            <name>access_token</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>access_token</key>
        <value>$.access_token</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Evaluate Access token</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>5526ffb5-290f-32f8-0000-000000000000</id>
                            <parentGroupId>26c9f88c-a5ed-3337-0000-000000000000</parentGroupId>
                            <position>
<x>341.1442291393239</x>
<y>-181.79123408506723</y>
                            </position>
                            <versionedComponentId>db27eda3-94a5-390a-b907-6dd4e277f9c8</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.7.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>OAuth2 Controller Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.oauth.OAuth2ClientService</identifiesControllerService>
            <name>OAuth2 Controller Service</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${baseUrl}/api/oauth/token?grant_type=password&amp;username=${username}&amp;password=${password}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>user-client</value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>${baseUrl:substringAfterLast('/')}</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>OAuth2 Controller Service</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Get Access token</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                    </contents>
                    <name>Create token</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>a296bd6e-5bdd-3245-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>306.1863954144353</x>
                        <y>79.28274724981566</y>
                    </position>
                    <versionedComponentId>a296bd6e-5bdd-3245-b8eb-fdc1bec93a75</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>12425a5b-e6fb-36f6-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <versionedComponentId>b0c51730-f36c-3058-b4a4-bd37f1408338</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>bf0a8300-5873-3a54-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9a4ce59e-b3f3-3e89-ae35-71843a15556b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>more_pages</selectedRelationships>
                            <source>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>e09927d9-e20e-3621-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fde0d720-8074-3448-9289-7bc13918a19b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>82937ffa-2f20-3f20-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <versionedComponentId>1886c5b8-dfef-321c-a768-fbbb2369e6f8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>8c84bb48-454b-3b59-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>9e175779-39d6-3e34-8b56-1765b4881008</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>more_pages</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>e09927d9-e20e-3621-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fde0d720-8074-3448-9289-7bc13918a19b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>85a6cfde-17aa-3773-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <versionedComponentId>54f2faad-2a0c-3b40-bc2b-10a52bbb4454</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>e09927d9-e20e-3621-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fde0d720-8074-3448-9289-7bc13918a19b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>fbc7ed6b-52f5-30e2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>90864b36-9cec-3c88-98b4-5f50a32a6d50</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>99d7de5c-d4f1-355a-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <versionedComponentId>d953a152-9caf-303b-a1d9-b332d55cd510</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>c782f0a4-16d2-3c7e-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8ba31a48-d6e2-3755-9b50-59339618a085</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>bf0a8300-5873-3a54-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9a4ce59e-b3f3-3e89-ae35-71843a15556b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d592eef1-c337-354a-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <versionedComponentId>31675b24-6950-3d48-b4cb-84042200619a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>fbc7ed6b-52f5-30e2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>90864b36-9cec-3c88-98b4-5f50a32a6d50</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <source>
<groupId>a296bd6e-5bdd-3245-0000-000000000000</groupId>
<id>d558a980-2700-3646-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>1d1193a5-4cf8-3728-b5cb-10d2cdd5d3dd</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>d558a980-2700-3646-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <position>
<x>328.9999996714856</x>
<y>245.99999394107954</y>
                            </position>
                            <versionedComponentId>1d1193a5-4cf8-3728-b5cb-10d2cdd5d3dd</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>data</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>8c84bb48-454b-3b59-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <position>
<x>335.0000112163583</x>
<y>560.0000409643928</y>
                            </position>
                            <versionedComponentId>9e175779-39d6-3e34-8b56-1765b4881008</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>No more pages</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>c782f0a4-16d2-3c7e-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <position>
<x>830.4544064097669</x>
<y>558.513986727487</y>
                            </position>
                            <versionedComponentId>8ba31a48-d6e2-3755-9b50-59339618a085</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>More pages</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>bf0a8300-5873-3a54-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <position>
<x>769.0000112163584</x>
<y>371.00004096439284</y>
                            </position>
                            <versionedComponentId>9a4ce59e-b3f3-3e89-ae35-71843a15556b</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.7.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>pageNumber</key>
        <value>
            <name>pageNumber</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>pageNumber</key>
        <value>${pageNumber:plus(1)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>e09927d9-e20e-3621-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <position>
<x>282.1665035777356</x>
<y>363.9273396937956</y>
                            </position>
                            <versionedComponentId>fde0d720-8074-3448-9289-7bc13918a19b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.7.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>more_pages</key>
        <value>
            <name>more_pages</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>more_pages</key>
        <value>${currentPage:plus(1):lt(${totalPages})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>more_pages</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>fbc7ed6b-52f5-30e2-0000-000000000000</id>
                            <parentGroupId>a296bd6e-5bdd-3245-0000-000000000000</parentGroupId>
                            <position>
<x>763.9364598188463</x>
<y>205.89224754923646</y>
                            </position>
                            <versionedComponentId>90864b36-9cec-3c88-98b4-5f50a32a6d50</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.7.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>
            <name>currentPage</name>
        </value>
    </entry>
    <entry>
        <key>totalPages</key>
        <value>
            <name>totalPages</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>currentPage</key>
        <value>$.number</value>
    </entry>
    <entry>
        <key>totalPages</key>
        <value>$.totalPages</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Pagination</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>0aaa533a-cde9-3a00-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>327.4495642399129</x>
                        <y>1022.0190319401565</y>
                    </position>
                    <versionedComponentId>1e07a00b-ffc4-374d-b8a8-76fc898f9b23</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Match Requirement</key>
<value>
    <name>Match Requirement</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>
    <name>Content Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>data</key>
<value>
    <name>data</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Match Requirement</key>
<value>content must contain match</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>data</key>
<value>data</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check if data list exists</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>data</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>0bccf057-8b6c-3e3d-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>319.39749030801136</x>
                        <y>474.812436426196</y>
                    </position>
                    <versionedComponentId>64de36a4-83b0-37a4-bbc1-2b3ded38f5a4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>102c7aec-d465-3b13-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>322.4774169921875</x>
                        <y>295.22271728515625</y>
                    </position>
                    <versionedComponentId>cc9bb8c4-fa6c-3a59-af6d-4fdb8e30167c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>requisitionId</key>
<value>
    <name>requisitionId</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>requisitionId</key>
<value>$.id</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get requisition ID attribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>15574a64-8b52-3be0-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>327.789930142666</x>
                        <y>1387.4440183698566</y>
                    </position>
                    <versionedComponentId>b6186496-6633-3eef-8e52-ec2dabd3da8c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>insert</key>
<value>
    <name>insert</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>insert</key>
<value>${requisition_id_in_db:isEmpty()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Route to insert or update types</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>insert</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>259caa05-3ca2-34e9-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>883.1809539794922</x>
                        <y>1021.6890335083008</y>
                    </position>
                    <versionedComponentId>1291a750-aaef-3669-8771-0e3c6c26644c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.data</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split data</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>2acab135-aeca-3f37-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>877.9639282226562</x>
                        <y>656.7091674804688</y>
                    </position>
                    <versionedComponentId>71e83abf-233e-38e0-8ac2-0c495bac2d74</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "#requisitions": "[0].table",
      "#requisitions_adjustment_lines": "[3].table",
      "id": "[0].data[0].id",
      "createdDate": "[0].data[0].created_date",
      "modifiedDate": "[0].data[0].modified_date",
      "emergency": "[0].data[0].emergency_status",
      "supplyingFacility": "[0].data[0].supplying_facility",
      "supervisoryNode": "[0].data[0].supervisory_node",
      "facility": {
        "id": "[0].data[0].facility_id",
        "code": "[0].data[0].facility_code",
        "name": "[0].data[0].facility_name",
        "enabled": "[0].data[0].facilty_active_status",
        "geographicZone": {
          "id": "[0].data[0].district_id",
          "code": "[0].data[0].district_code",
          "name": "[0].data[0].district_name",
          "parent": {
            "id": "[0].data[0].region_id",
            "code": "[0].data[0].region_code",
            "name": "[0].data[0].region_name",
            "parent": {
              "id": "[0].data[0].country_id",
              "code": "[0].data[0].country_code",
              "name": "[0].data[0].country_name"
            }
          }
        },
        "type": {
          "id": "[0].data[0].facility_type_id",
          "code": "[0].data[0].facility_type_code",
          "name": "[0].data[0].facility_type_name"
        },
        "operator": {
          "id": "[0].data[0].facility_operator_id",
          "code": "[0].data[0].facility_operator_code",
          "name": "[0].data[0].facility_operator_name"
        }
      },
      "program": {
        "id": "[0].data[0].program_id",
        "code": "[0].data[0].program_code",
        "name": "[0].data[0].program_name",
        "active": "[0].data[0].program_active_status"
      },
      "processingPeriod": {
        "id": "[0].data[0].processing_period_id",
        "name": "[0].data[0].processing_period_name",
        "startDate": "[0].data[0].processing_period_startdate",
        "endDate": "[0].data[0].processing_period_enddate",
        "processingSchedule": {
          "id": "[0].data[0].processing_schedule_id",
          "code": "[0].data[0].processing_schedule_code",
          "name": "[0].data[0].processing_schedule_name"
        }
      },
      "requisitionLineItems": {
        "#requisition_line_item": "[1].table",
        "*": {
          "id": "[1].data[&amp;1].requisition_line_item_id",
          "@(2,id)": "[1].data[&amp;1].requisition_id",
          "orderable": {
            "id": "[1].data[&amp;2].orderable_id",
            "productCode": "[1].data[&amp;2].product_code",
            "fullProductName": "[1].data[&amp;2].full_product_name",
            "identifiers": {
              "tradeItem": "[1].data[&amp;3].trade_item_id"
            }
          },
          "beginningBalance": "[1].data[&amp;1].beginning_balance",
          "totalConsumedQuantity": "[1].data[&amp;1].total_consumed_quantity",
          "averageConsumption": "[1].data[&amp;1].average_consumption",
          "adjustedConsumption": "[1].data[&amp;1].adjusted_consumption",
          "totalLossesAndAdjustments": "[1].data[&amp;1].total_losses_and_adjustments",
          "stockOnHand": "[1].data[&amp;1].stock_on_hand",
          "totalStockoutDays": "[1].data[&amp;1].total_stockout_days",
          "maxPeriodsOfStock": "[1].data[&amp;1].max_periods_of_stock",
          "calculatedOrderQuantity": "[1].data[&amp;1].calculated_order_quantity",
          "requestedQuantity": "[1].data[&amp;1].requested_quantity",
          "approvedQuantity": "[1].data[&amp;1].approved_quantity",
          "packsToShip": "[1].data[&amp;1].packs_to_ship",
          "pricePerPack": "[1].data[&amp;1].price_per_pack",
          "totalCost": "[1].data[&amp;1].total_cost",
          "totalReceivedQuantity": "[1].data[&amp;1].total_received_quantity",
          "stockAdjustments": {
            "*": {
              "@": "[3].data[&amp;3][&amp;1]",
              "@(2,id)": "[3].data.[&amp;3].[&amp;1].requisition_line_item_id",
              "@(4,id)": "[3].data.[&amp;3].[&amp;1].requisition_id"
            }
          }
        }
      },
      "statusChanges": {
        "#requisitions_status_history": "[2].table",
        "RELEASED": {
          "#RELEASED": "[2].data[#2].status",
          "authorId": "[2].data[#2].author_id",
          "changeDate": "[2].data[#2].created_date",
          "@(2,id)": "[2].data[#2].requisition_id"
        },
        "SUBMITTED": {
          "#SUBMITTED": "[2].data[#2].status",
          "authorId": "[2].data[#2].author_id",
          "changeDate": "[2].data[#2].created_date",
          "@(2,id)": "[2].data[#2].requisition_id"
        },
        "INITIATED": {
          "#INITIATED": "[2].data[#2].status",
          "authorId": "[2].data[#2].author_id",
          "changeDate": "[2].data[#2].created_date",
          "@(2,id)": "[2].data[#2].requisition_id"
        },
        "APPROVED": {
          "#APPROVED": "[2].data[#2].status",
          "authorId": "[2].data[#2].author_id",
          "changeDate": "[2].data[#2].created_date",
          "@(2,id)": "[2].data[#2].requisition_id"
        },
        "AUTHORIZED": {
          "#AUTHORIZED": "[2].data[#2].status",
          "authorId": "[2].data[#2].author_id",
          "changeDate": "[2].data[#2].created_date",
          "@(2,id)": "[2].data[#2].requisition_id"
        }
      }
    }
  },
  {
    "operation": "shift",
    "spec": {
      "0": "[0]",
      "1": "[1]",
      "2": "[2]",
      "3": {
        "table": "[3].table",
        "data": {
          "*": {
            "*": {
              "quantity": {
                "@1": "[3].data[]"
              }
            }
          }
        }
      }
    }
  }
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>2d62cdc3-58f5-3e58-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>327.7997131347656</x>
                        <y>1569.2250671386719</y>
                    </position>
                    <versionedComponentId>cb1eea1b-4169-30a6-90fe-e073f8290c49</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>3a1c71e7-622f-3dcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>${table}</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
                            </entry>
                            <entry>
<key>Schema Name</key>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Warn on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>INSERT type ConvertJSONToSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
                <processors>
                    <id>3fa694bf-9e08-3d27-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>882.2321089746674</x>
                        <y>1386.4140184528778</y>
                    </position>
                    <versionedComponentId>60ddd1b7-8806-326f-a436-f9096ae2ca3d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>3a1c71e7-622f-3dcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>UPDATE</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>${table}</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
                            </entry>
                            <entry>
<key>Schema Name</key>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Warn on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>${table:equals('requisitions'):ifElse('id', 'requisition_id')}</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UPDATE type ConvertJSONToSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
                <processors>
                    <id>44808402-4f06-3a90-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>877.3587110135572</x>
                        <y>292.4477707344622</y>
                    </position>
                    <versionedComponentId>a528bf0c-46b6-3ee5-a581-e9aba137a5a1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>3a1c71e7-622f-3dcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT id FROM requisitions WHERE id='${requisitionId}';</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>6251b490-d017-3d34-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>327.6166229248047</x>
                        <y>838.9610443115234</y>
                    </position>
                    <versionedComponentId>f4bfae40-c157-32c1-804b-24cebfa854ce</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split JSON tables</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>6c4b035e-6818-3447-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.2228240966797</x>
                        <y>-122.60225677490234</y>
                    </position>
                    <versionedComponentId>04bf42d7-ad77-3ef1-b5ae-daf22ddf9571</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>OAuth2 Controller Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth.OAuth2ClientService</identifiesControllerService>
    <name>OAuth2 Controller Service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${baseUrl}/api/requisitions/search?access_token=${access_token}&amp;modifiedDateFrom=${modified_date}&amp;page=${pageNumber}&amp;size=10</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>${baseUrl:substringAfterLast('/')}</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>OAuth2 Controller Service</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GET requisitions from /api</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>7017ad5b-959f-3f3e-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>309.9764132320536</x>
                        <y>-322.23820288058573</y>
                    </position>
                    <versionedComponentId>52bd814d-3253-3bfd-9fcf-a765d60cac37</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>modified_date</key>
<value>
    <name>modified_date</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>modified_date</key>
<value>$.modified_date</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set modified date as an attribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>727860bc-5fc1-356b-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>872.005546719972</x>
                        <y>476.41722096637443</y>
                    </position>
                    <versionedComponentId>10ae6edb-ce2d-3509-8c76-ebc590450c07</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>requisition_id_in_db</key>
<value>
    <name>requisition_id_in_db</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>requisition_id_in_db</key>
<value>$.id</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>9d933e97-cace-3355-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>328.24109410802646</x>
                        <y>1207.7092316956491</y>
                    </position>
                    <versionedComponentId>993c92fa-280e-3351-b115-276dc49f0eee</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>"created_date":"([^"]*)"</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>"created_date": "${'$1':toDate("yyyy-MM-dd'T'HH:mm:ss"):format("yyyy-MM-dd HH:mm:ss.SSS")}"</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Format created_date</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>9db89d72-02d1-310d-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>322.66395568847656</x>
                        <y>655.9645538330078</y>
                    </position>
                    <versionedComponentId>40a7dfce-16cb-37d9-a8d1-4a923b82cdd1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>OAuth2 Controller Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth.OAuth2ClientService</identifiesControllerService>
    <name>OAuth2 Controller Service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${baseUrl}/api/requisitions/${requisitionId}?access_token=${access_token}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>${baseUrl:substringAfterLast('/')}</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>OAuth2 Controller Service</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GET requisition line items from /api</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>b6f58b34-4a08-3992-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>326.1991271972656</x>
                        <y>1756.0226135253906</y>
                    </position>
                    <versionedComponentId>ca19a6ca-ec3f-3441-8baf-9183000107d4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>3a1c71e7-622f-3dcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Insert into tables</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>b9edc27c-626d-3cba-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>881.76106405989</x>
                        <y>1207.699096374488</y>
                    </position>
                    <versionedComponentId>e74632ff-0681-378d-9b82-6bee6739238b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>"modified_date":"([^"]*)"</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>"modified_date": "${'$1':toDate("yyyy-MM-dd'T'HH:mm:ss"):format("yyyy-MM-dd HH:mm:ss.SSS")}"</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Format modified_date</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>bd5b1a1e-69ba-3a98-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>879.87890625</x>
                        <y>85.27062225341797</y>
                    </position>
                    <versionedComponentId>7d1da732-e7ec-3464-859c-47fb6b93efa9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.content</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split requisitions</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>cdab6d55-8475-30c4-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>879.4524225727786</x>
                        <y>1571.721992451041</y>
                    </position>
                    <versionedComponentId>283c0a2d-6bb9-388d-a652-a2e5b3e79974</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>REQUISITIONID</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>requisition_id</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Literal Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>d9e6fab8-71a2-36f0-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>873.1052584468973</x>
                        <y>-319.4433496701365</y>
                    </position>
                    <versionedComponentId>d126f1d6-b01c-3b41-a584-c7783ac5a4db</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>modified_date</key>
<value>
    <name>modified_date</name>
</value>
                            </entry>
                            <entry>
<key>pageNumber</key>
<value>
    <name>pageNumber</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>modified_date</key>
<value>${modified_date:isEmpty():ifElse(${modified_date:replaceEmpty('1970-01-01T00:00:00.000Z')}, ${modified_date:replace(' ', 'T'):append('Z')})}</value>
                            </entry>
                            <entry>
<key>pageNumber</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Update modified date and page attribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>e510d89c-5cef-3e42-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>309.2130160152567</x>
                        <y>-501.12609655734354</y>
                    </position>
                    <versionedComponentId>12e62d8a-b27d-3d1d-8800-e2a03abe3981</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>3a1c71e7-622f-3dcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT MAX(modified_date) AS modified_date FROM requisitions;</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 day</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Get the last modified date</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>eba538b4-b783-369e-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>868.8335604488504</x>
                        <y>-503.25466711398417</y>
                    </position>
                    <versionedComponentId>c89f4497-34aa-344d-9c97-0b1e170332f9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>f782629e-fbb2-3806-0000-000000000000</id>
                    <parentGroupId>915456a7-548b-3707-0000-000000000000</parentGroupId>
                    <position>
                        <x>880.8689422607422</x>
                        <y>838.5316619873047</y>
                    </position>
                    <versionedComponentId>772ee391-20d6-3623-920b-9a6975c4449b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>table</key>
<value>
    <name>table</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>table</key>
<value>$.table</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Set the table attribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Requsitions connector</name>
            <variables>
                <entry>
                    <key>password</key>
                    <value>password</value>
                </entry>
                <entry>
                    <key>baseUrl</key>
                    <value>https://uat.openlmis.org</value>
                </entry>
                <entry>
                    <key>username</key>
                    <value>administrator</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>05/13/2019 08:30:56 UTC</timestamp>
</template>
