reporting/config/services/nifi/scripts/templates/generate_measure.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>complete </description>
    <groupId>16dff888-0169-1000-4d41-f048d643c461</groupId>
    <name>Generate Measure 2</name>
    <snippet>
        <processGroups>
            <id>7584b525-5cf4-3b5b-0000-000000000000</id>
            <parentGroupId>3935e680-57fc-3491-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>7584b525-5cf4-3b5b-bfce-9882f5ff857f</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>bdaf3f2e-1f01-3615-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>bdaf3f2e-1f01-3615-b050-e7983b5b7fd4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>b0661296-b138-330a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0661296-b138-330a-8f72-7706e08bd5cd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
                        <id>1739a1f7-c0fe-3a9c-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>1739a1f7-c0fe-3a9c-8ee5-aa01fc30f59d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e753f708-8b63-3300-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>e753f708-8b63-3300-89ac-907da4921827</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>2f483b89-d61d-3232-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2f483b89-d61d-3232-8d7e-4337c2003d9d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>8c66043a-5237-3d3f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8c66043a-5237-3d3f-ad4e-a3100421bc3a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>efe78333-6611-307d-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>efe78333-6611-307d-9002-9f6f2711761c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>b72f0122-3bfb-31e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b72f0122-3bfb-31e9-9db6-096a1ba7bac5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>b0661296-b138-330a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0661296-b138-330a-8f72-7706e08bd5cd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>216e288a-e89b-3429-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>216e288a-e89b-3429-a248-6f3c0e6b5c91</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1339.0422819568616</x>
                        <y>301.10322927645313</y>
                    </bends>
                    <bends>
                        <x>1339.0422819568616</x>
                        <y>351.10322927645313</y>
                    </bends>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>8c66043a-5237-3d3f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8c66043a-5237-3d3f-ad4e-a3100421bc3a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>8c66043a-5237-3d3f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8c66043a-5237-3d3f-ad4e-a3100421bc3a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>404c9991-d3eb-36ac-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>404c9991-d3eb-36ac-aaac-4646db25ee11</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>8c66043a-5237-3d3f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8c66043a-5237-3d3f-ad4e-a3100421bc3a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>a76f77e6-1fc0-3ac4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a76f77e6-1fc0-3ac4-9b56-ce35904032b6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>622f52b5-6d71-37ea-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>622f52b5-6d71-37ea-aa22-d4fb760008ef</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>9adbe3bf-4bf6-36e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9adbe3bf-4bf6-36e2-a8ae-58bb972ef1f5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>4bc8d6cf-8860-3e84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bc8d6cf-8860-3e84-bdb7-763ca06b4987</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>64543ac5-919a-3dca-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>64543ac5-919a-3dca-a1c3-6738dd663e6f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>a76f77e6-1fc0-3ac4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a76f77e6-1fc0-3ac4-9b56-ce35904032b6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>9adbe3bf-4bf6-36e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9adbe3bf-4bf6-36e2-a8ae-58bb972ef1f5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6544332c-9119-3840-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>6544332c-9119-3840-a743-10c1f8ad080d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>b0661296-b138-330a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b0661296-b138-330a-8f72-7706e08bd5cd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
                        <id>8402e0ed-542b-346e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8402e0ed-542b-346e-ad19-8dba95e42603</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>78ac2298-9162-33e9-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>78ac2298-9162-33e9-9dc7-9f250a61ffcc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>fff83129-9564-3dfd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fff83129-9564-3dfd-9ec0-2ba0219aa9ed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>8c66043a-5237-3d3f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8c66043a-5237-3d3f-ad4e-a3100421bc3a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7cc4b158-9c6a-390b-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <versionedComponentId>7cc4b158-9c6a-390b-8c6e-85dde9dde9ec</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>4bc8d6cf-8860-3e84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bc8d6cf-8860-3e84-bdb7-763ca06b4987</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>7584b525-5cf4-3b5b-0000-000000000000</groupId>
                        <id>b72f0122-3bfb-31e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b72f0122-3bfb-31e9-9db6-096a1ba7bac5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>90957a0d-0980-35b0-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>297.9239195524274</x>
                        <y>-326.66347072302904</y>
                    </position>
                    <versionedComponentId>90957a0d-0980-35b0-b795-2a24197a06e2</versionedComponentId>
                    <height>84.02529907226562</height>
                    <label>1</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>74.68916320800781</width>
                </labels>
                <labels>
                    <id>0fdec207-50b3-30fc-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.1492801538877</x>
                        <y>-315.2211007017747</y>
                    </position>
                    <versionedComponentId>0fdec207-50b3-30fc-9d51-cd3059a82d37</versionedComponentId>
                    <height>84.02529907226562</height>
                    <label>2</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>74.68916320800781</width>
                </labels>
                <processGroups>
                    <id>beb33097-6ba1-32a3-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>877.7062341643414</x>
                        <y>-261.4239839204986</y>
                    </position>
                    <versionedComponentId>beb33097-6ba1-32a3-9b76-607e15698b11</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>c70f343e-da00-326f-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>c70f343e-da00-326f-84dc-bbfef9153b1d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>1739a1f7-c0fe-3a9c-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>1739a1f7-c0fe-3a9c-8ee5-aa01fc30f59d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>df5208a0-71d5-336f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>df5208a0-71d5-336f-89fe-08113ae2e166</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dcf3512f-3813-3c66-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>dcf3512f-3813-3c66-aabb-e5c3fc9a9303</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>8083088b-03e9-3b1e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8083088b-03e9-3b1e-aba3-f5d821074c02</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>bbb260e2-9e31-31c4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bbb260e2-9e31-31c4-b915-5d007e41bca9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>edfc518a-4cdb-3747-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>edfc518a-4cdb-3747-b92e-4eff365db3b3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>df5208a0-71d5-336f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>df5208a0-71d5-336f-89fe-08113ae2e166</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>8083088b-03e9-3b1e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8083088b-03e9-3b1e-aba3-f5d821074c02</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0de7d601-8f66-308f-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>0de7d601-8f66-308f-b15a-73a2143247e2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>9a1f07c7-7626-33f5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9a1f07c7-7626-33f5-a9a2-90e884bc36a3</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>ea3aa4ee-8985-37c6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ea3aa4ee-8985-37c6-b9ac-810b39f5a9a4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>166fa189-3abe-38be-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>166fa189-3abe-38be-93b4-676d02cb6f74</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>50000</backPressureObjectThreshold>
                            <destination>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>ea3aa4ee-8985-37c6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ea3aa4ee-8985-37c6-b9ac-810b39f5a9a4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <source>
<groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
<id>f2011d0a-7d45-3568-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>f2011d0a-7d45-3568-89d5-4f76020bdc4f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>26882445-513d-3460-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>26882445-513d-3460-a15f-f575c556dffa</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>bbb260e2-9e31-31c4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bbb260e2-9e31-31c4-b915-5d007e41bca9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>beb33097-6ba1-32a3-0000-000000000000</groupId>
<id>9a1f07c7-7626-33f5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9a1f07c7-7626-33f5-a9a2-90e884bc36a3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>4e57195f-03e9-3e6f-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <versionedComponentId>4e57195f-03e9-3e6f-9a0f-0f76452beecd</versionedComponentId>
                            <bundle>
<artifact>nifi-distributed-cache-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Server Hostname</key>
    <value>
        <name>Server Hostname</name>
    </value>
</entry>
<entry>
    <key>Server Port</key>
    <value>
        <name>Server Port</name>
    </value>
</entry>
<entry>
    <key>SSL Context Service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
        <name>SSL Context Service</name>
    </value>
</entry>
<entry>
    <key>Communications Timeout</key>
    <value>
        <name>Communications Timeout</name>
    </value>
</entry>
                            </descriptors>
                            <name>DistributedMapCacheClientService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Server Hostname</key>
    <value>localhost</value>
</entry>
<entry>
    <key>Server Port</key>
    <value>4559</value>
</entry>
<entry>
    <key>SSL Context Service</key>
</entry>
<entry>
    <key>Communications Timeout</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
                        </controllerServices>
                        <labels>
                            <id>b5a5a4ab-e0cf-36cc-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>478.57836928779636</x>
<y>-362.60765788733573</y>
                            </position>
                            <versionedComponentId>b5a5a4ab-e0cf-36cc-882b-f5458d030610</versionedComponentId>
                            <height>85.19236755371094</height>
                            <label>2</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>24px</value>
</entry>
                            </style>
                            <width>72.35514068603516</width>
                        </labels>
                        <outputPorts>
                            <id>1739a1f7-c0fe-3a9c-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>892.875115244339</x>
<y>1375.1353670744868</y>
                            </position>
                            <versionedComponentId>1739a1f7-c0fe-3a9c-8ee5-aa01fc30f59d</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>approved products</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>8d4ac74e-51be-3521-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>290.2814003168487</x>
<y>808.275762282899</y>
                            </position>
                            <versionedComponentId>8d4ac74e-51be-3521-99db-fe1073913bb7</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>878f5fbe-cb8f-3bd8-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>878f5fbe-cb8f-3bd8-b36b-20cd71feda22</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>e1672cc9-331f-3571-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e1672cc9-331f-3571-805c-bd6fb55e3ec9</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>04d40916-376f-3429-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>04d40916-376f-3429-8fca-a2084c409c25</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>97b889f7-92e6-38d6-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>97b889f7-92e6-38d6-825d-e5aca8f48d6f</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>cee1cfe3-9d07-3203-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>cee1cfe3-9d07-3203-be72-10df2c8fc005</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>Response</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>5cec3f7d-9bac-3cb9-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>5cec3f7d-9bac-3cb9-a200-17325b41e5a5</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>b80891d0-86cd-383c-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>b80891d0-86cd-383c-8385-d113ae48d412</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>1573.5539252468277</x>
        <y>413.01388457100893</y>
    </bends>
    <bends>
        <x>1573.5539252468277</x>
        <y>463.01388457100893</y>
    </bends>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>e1672cc9-331f-3571-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e1672cc9-331f-3571-805c-bd6fb55e3ec9</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>Retry</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>e1672cc9-331f-3571-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e1672cc9-331f-3571-805c-bd6fb55e3ec9</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>ce178128-fba8-371e-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>ce178128-fba8-371e-8374-b206612f9b13</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>50000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>86bb8749-47e5-3c55-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>86bb8749-47e5-3c55-b16f-c3f59d3b14bf</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>matched</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>c23483be-81a0-3be0-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c23483be-81a0-3be0-b6a8-136b9aa67015</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>07161214-8cbe-321e-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>07161214-8cbe-321e-88d9-0527cafc030a</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>f2011d0a-7d45-3568-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
        <versionedComponentId>f2011d0a-7d45-3568-89d5-4f76020bdc4f</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>non-duplicate</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>100ceae4-fcfd-3377-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>100ceae4-fcfd-3377-adfa-4b2b74892148</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>0ef1f3f8-bab6-3bbc-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>0ef1f3f8-bab6-3bbc-8400-f0b325dbed19</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>557088c0-c89b-3eb1-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>557088c0-c89b-3eb1-86f9-c508d969a6a3</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>Response</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>e1672cc9-331f-3571-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e1672cc9-331f-3571-805c-bd6fb55e3ec9</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>15bb699f-7251-3453-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>15bb699f-7251-3453-bd1e-01924e51bdac</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>50000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>100ceae4-fcfd-3377-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>100ceae4-fcfd-3377-adfa-4b2b74892148</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>86bb8749-47e5-3c55-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>86bb8749-47e5-3c55-b16f-c3f59d3b14bf</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>20616941-fa68-3a06-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>20616941-fa68-3a06-8aee-2f15eb228be9</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>1576.3470160671402</x>
        <y>555.1722097663214</y>
    </bends>
    <bends>
        <x>1576.3470160671402</x>
        <y>605.1722097663214</y>
    </bends>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>5cec3f7d-9bac-3cb9-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>5cec3f7d-9bac-3cb9-a200-17325b41e5a5</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>Retry</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>5cec3f7d-9bac-3cb9-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>5cec3f7d-9bac-3cb9-a200-17325b41e5a5</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>2df99ca8-eb15-341b-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>2df99ca8-eb15-341b-8290-fd0e1acabf08</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>5cec3f7d-9bac-3cb9-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>5cec3f7d-9bac-3cb9-a200-17325b41e5a5</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>matched</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>557088c0-c89b-3eb1-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>557088c0-c89b-3eb1-86f9-c508d969a6a3</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>7bf9c9d5-5ed6-3def-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <versionedComponentId>7bf9c9d5-5ed6-3def-9572-6e569a6d75e7</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>50000</backPressureObjectThreshold>
    <destination>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>c23483be-81a0-3be0-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>c23483be-81a0-3be0-b6a8-136b9aa67015</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <name></name>
    <selectedRelationships>split</selectedRelationships>
    <source>
        <groupId>8d4ac74e-51be-3521-0000-000000000000</groupId>
        <id>cee1cfe3-9d07-3203-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>cee1cfe3-9d07-3203-be72-10df2c8fc005</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<outputPorts>
    <id>f2011d0a-7d45-3568-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>646.0000906904311</x>
        <y>946.0138836173346</y>
    </position>
    <versionedComponentId>f2011d0a-7d45-3568-89d5-4f76020bdc4f</versionedComponentId>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <name>products</name>
    <state>STOPPED</state>
    <type>OUTPUT_PORT</type>
</outputPorts>
<processors>
    <id>86bb8749-47e5-3c55-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>540.1551520534684</x>
        <y>791.9148245124152</y>
    </position>
    <versionedComponentId>86bb8749-47e5-3c55-b16f-c3f59d3b14bf</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>    {
      "code": {
        "text": "${product_code}"
      },
      "description": "${product_name}"
    },</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
            </entry>
            <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>ReplaceText</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
<processors>
    <id>c23483be-81a0-3be0-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>1121.3471381374527</x>
        <y>655.4349050788214</y>
    </position>
    <versionedComponentId>c23483be-81a0-3be0-b6a8-136b9aa67015</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Destination</key>
                <value>
                    <name>Destination</name>
                </value>
            </entry>
            <entry>
                <key>Return Type</key>
                <value>
                    <name>Return Type</name>
                </value>
            </entry>
            <entry>
                <key>Path Not Found Behavior</key>
                <value>
                    <name>Path Not Found Behavior</name>
                </value>
            </entry>
            <entry>
                <key>Null Value Representation</key>
                <value>
                    <name>Null Value Representation</name>
                </value>
            </entry>
            <entry>
                <key>product_code</key>
                <value>
                    <name>product_code</name>
                </value>
            </entry>
            <entry>
                <key>product_name</key>
                <value>
                    <name>product_name</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
            </entry>
            <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
            </entry>
            <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
            </entry>
            <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
            </entry>
            <entry>
                <key>product_code</key>
                <value>$.orderable.productCode</value>
            </entry>
            <entry>
                <key>product_name</key>
                <value>$.orderable.fullProductName</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>Evaluate approved products</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
</processors>
<processors>
    <id>cee1cfe3-9d07-3203-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>541.0000922390152</x>
        <y>651.7038259772589</y>
    </position>
    <versionedComponentId>cee1cfe3-9d07-3203-be72-10df2c8fc005</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>JsonPath Expression</key>
                <value>
                    <name>JsonPath Expression</name>
                </value>
            </entry>
            <entry>
                <key>Null Value Representation</key>
                <value>
                    <name>Null Value Representation</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>JsonPath Expression</key>
                <value>$.content</value>
            </entry>
            <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>Split facility type aproved products</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.SplitJson</type>
</processors>
<processors>
    <id>e1672cc9-331f-3571-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>1118.5539252468277</x>
        <y>373.01388457100893</y>
    </position>
    <versionedComponentId>e1672cc9-331f-3571-805c-bd6fb55e3ec9</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>HTTP Method</key>
                <value>
                    <name>HTTP Method</name>
                </value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>
                    <name>Remote URL</name>
                </value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                </value>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>
                    <name>Connection Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>
                    <name>Read Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>
                    <name>Include Date Header</name>
                </value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>
                    <name>Follow Redirects</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
                <value>
                    <name>Attributes to Send</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
                <value>
                    <name>Basic Authentication Username</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
                <value>
                    <name>Basic Authentication Password</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Host</key>
                <value>
                    <name>Proxy Host</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Port</key>
                <value>
                    <name>Proxy Port</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                    <name>invokehttp-proxy-user</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                    <name>invokehttp-proxy-password</name>
                </value>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                    <name>Put Response Body In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                    <name>Max Length To Put In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>
                    <name>Digest Authentication</name>
                </value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>
                    <name>Always Output Response</name>
                </value>
            </entry>
            <entry>
                <key>Trusted Hostname</key>
                <value>
                    <name>Trusted Hostname</name>
                </value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>
                    <name>Add Response Headers to Request</name>
                </value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>
                    <name>Content-Type</name>
                </value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>
                    <name>send-message-body</name>
                </value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>
                    <name>Use Chunked Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                    <name>Penalize on "No Retry"</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>HTTP Method</key>
                <value>POST</value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>${baseurl}/oauth/token?grant_type=password&amp;username=${username}&amp;password=password</value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
                <value>user-client</value>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
            </entry>
            <entry>
                <key>Proxy Host</key>
            </entry>
            <entry>
                <key>Proxy Port</key>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Trusted Hostname</key>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>application/json</value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>Get access token</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>No Retry</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Retry</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
</processors>
<processors>
    <id>04d40916-376f-3429-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>539.0000906904311</x>
        <y>374.5559748020038</y>
    </position>
    <versionedComponentId>04d40916-376f-3429-8fca-a2084c409c25</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>File Size</key>
                <value>
                    <name>File Size</name>
                </value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>
                    <name>Batch Size</name>
                </value>
            </entry>
            <entry>
                <key>Data Format</key>
                <value>
                    <name>Data Format</name>
                </value>
            </entry>
            <entry>
                <key>Unique FlowFiles</key>
                <value>
                    <name>Unique FlowFiles</name>
                </value>
            </entry>
            <entry>
                <key>generate-ff-custom-text</key>
                <value>
                    <name>generate-ff-custom-text</name>
                </value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>
                    <name>character-set</name>
                </value>
            </entry>
            <entry>
                <key>baseurl</key>
                <value>
                    <name>baseurl</name>
                </value>
            </entry>
            <entry>
                <key>username</key>
                <value>
                    <name>username</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>File Size</key>
                <value>0B</value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>1</value>
            </entry>
            <entry>
                <key>Data Format</key>
                <value>Text</value>
            </entry>
            <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
            </entry>
            <entry>
                <key>generate-ff-custom-text</key>
            </entry>
            <entry>
                <key>character-set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>baseurl</key>
                <value>https://uat.openlmis.org/api</value>
            </entry>
            <entry>
                <key>username</key>
                <value>administrator</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>100000000 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>GenerateFlowFile</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
</processors>
<processors>
    <id>100ceae4-fcfd-3377-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>1119.7940680690936</x>
        <y>796.5418386725714</y>
    </position>
    <versionedComponentId>100ceae4-fcfd-3377-adfa-4b2b74892148</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Cache Entry Identifier</key>
                <value>
                    <name>Cache Entry Identifier</name>
                </value>
            </entry>
            <entry>
                <key>FlowFile Description</key>
                <value>
                    <name>FlowFile Description</name>
                </value>
            </entry>
            <entry>
                <key>Age Off Duration</key>
                <value>
                    <name>Age Off Duration</name>
                </value>
            </entry>
            <entry>
                <key>Distributed Cache Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                    <name>Distributed Cache Service</name>
                </value>
            </entry>
            <entry>
                <key>Cache The Entry Identifier</key>
                <value>
                    <name>Cache The Entry Identifier</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Cache Entry Identifier</key>
                <value>${product_code}</value>
            </entry>
            <entry>
                <key>FlowFile Description</key>
                <value>${product_code}</value>
            </entry>
            <entry>
                <key>Age Off Duration</key>
                <value>100 sec</value>
            </entry>
            <entry>
                <key>Distributed Cache Service</key>
                <value>4e57195f-03e9-3e6f-0000-000000000000</value>
            </entry>
            <entry>
                <key>Cache The Entry Identifier</key>
                <value>true</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>DetectDuplicate</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>duplicate</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>non-duplicate</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
</processors>
<processors>
    <id>557088c0-c89b-3eb1-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>540.0000922390153</x>
        <y>511.5676565436652</y>
    </position>
    <versionedComponentId>557088c0-c89b-3eb1-86f9-c508d969a6a3</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Destination</key>
                <value>
                    <name>Destination</name>
                </value>
            </entry>
            <entry>
                <key>Return Type</key>
                <value>
                    <name>Return Type</name>
                </value>
            </entry>
            <entry>
                <key>Path Not Found Behavior</key>
                <value>
                    <name>Path Not Found Behavior</name>
                </value>
            </entry>
            <entry>
                <key>Null Value Representation</key>
                <value>
                    <name>Null Value Representation</name>
                </value>
            </entry>
            <entry>
                <key>access_token</key>
                <value>
                    <name>access_token</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
            </entry>
            <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
            </entry>
            <entry>
                <key>Path Not Found Behavior</key>
                <value>warn</value>
            </entry>
            <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
            </entry>
            <entry>
                <key>access_token</key>
                <value>$.access_token</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>Evaluate access token</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
</processors>
<processors>
    <id>5cec3f7d-9bac-3cb9-0000-000000000000</id>
    <parentGroupId>8d4ac74e-51be-3521-0000-000000000000</parentGroupId>
    <position>
        <x>1121.3470160671402</x>
        <y>515.1722097663214</y>
    </position>
    <versionedComponentId>5cec3f7d-9bac-3cb9-a200-17325b41e5a5</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0</version>
    </bundle>
    <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>HTTP Method</key>
                <value>
                    <name>HTTP Method</name>
                </value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>
                    <name>Remote URL</name>
                </value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                </value>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>
                    <name>Connection Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>
                    <name>Read Timeout</name>
                </value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>
                    <name>Include Date Header</name>
                </value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>
                    <name>Follow Redirects</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
                <value>
                    <name>Attributes to Send</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
                <value>
                    <name>Basic Authentication Username</name>
                </value>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
                <value>
                    <name>Basic Authentication Password</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Host</key>
                <value>
                    <name>Proxy Host</name>
                </value>
            </entry>
            <entry>
                <key>Proxy Port</key>
                <value>
                    <name>Proxy Port</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                    <name>invokehttp-proxy-user</name>
                </value>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                    <name>invokehttp-proxy-password</name>
                </value>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                    <name>Put Response Body In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                    <name>Max Length To Put In Attribute</name>
                </value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>
                    <name>Digest Authentication</name>
                </value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>
                    <name>Always Output Response</name>
                </value>
            </entry>
            <entry>
                <key>Trusted Hostname</key>
                <value>
                    <name>Trusted Hostname</name>
                </value>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>
                    <name>Add Response Headers to Request</name>
                </value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>
                    <name>Content-Type</name>
                </value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>
                    <name>send-message-body</name>
                </value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>
                    <name>Use Chunked Encoding</name>
                </value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                    <name>Penalize on "No Retry"</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>HTTP Method</key>
                <value>GET</value>
            </entry>
            <entry>
                <key>Remote URL</key>
                <value>${baseurl}/facilityTypeApprovedProducts?access_token=${access_token}&amp;facilityType=health_center</value>
            </entry>
            <entry>
                <key>SSL Context Service</key>
            </entry>
            <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
            </entry>
            <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
            </entry>
            <entry>
                <key>Include Date Header</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Follow Redirects</key>
                <value>True</value>
            </entry>
            <entry>
                <key>Attributes to Send</key>
            </entry>
            <entry>
                <key>Basic Authentication Username</key>
            </entry>
            <entry>
                <key>Basic Authentication Password</key>
            </entry>
            <entry>
                <key>Proxy Host</key>
            </entry>
            <entry>
                <key>Proxy Port</key>
            </entry>
            <entry>
                <key>invokehttp-proxy-user</key>
            </entry>
            <entry>
                <key>invokehttp-proxy-password</key>
            </entry>
            <entry>
                <key>Put Response Body In Attribute</key>
            </entry>
            <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
            </entry>
            <entry>
                <key>Digest Authentication</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Always Output Response</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Trusted Hostname</key>
            </entry>
            <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
            </entry>
            <entry>
                <key>send-message-body</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
            </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <name>Get facility type approved products</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>No Retry</name>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Retry</name>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
</processors>
                            </contents>
                            <name>Get ptoducts</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>8083088b-03e9-3b1e-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>886.215720385208</x>
<y>1214.0245318141488</y>
                            </position>
                            <versionedComponentId>8083088b-03e9-3b1e-aba3-f5d821074c02</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>product_list</key>
        <value>
            <name>product_list</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>2 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1500000</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>product_list</key>
        <value>(?s)(^.*$)</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>9a1f07c7-7626-33f5-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>885.3539400691552</x>
<y>1067.5323737806225</y>
                            </position>
                            <versionedComponentId>9a1f07c7-7626-33f5-a9a2-90e884bc36a3</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>]</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Append</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>bbb260e2-9e31-31c4-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>307.624567503566</x>
<y>1199.1850832987843</y>
                            </position>
                            <versionedComponentId>bbb260e2-9e31-31c4-b915-5d007e41bca9</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>},]</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>}</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>2 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Literal Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>df5208a0-71d5-336f-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>311.0565529047392</x>
<y>1337.8929229274302</y>
                            </position>
                            <versionedComponentId>df5208a0-71d5-336f-89fe-08113ae2e166</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value></value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>2 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>ea3aa4ee-8985-37c6-0000-000000000000</id>
                            <parentGroupId>beb33097-6ba1-32a3-0000-000000000000</parentGroupId>
                            <position>
<x>306.6502922462921</x>
<y>1058.465994515893</y>
                            </position>
                            <versionedComponentId>ea3aa4ee-8985-37c6-b9ac-810b39f5a9a4</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Merge Strategy</key>
        <value>
            <name>Merge Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>
            <name>Merge Format</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>
            <name>Correlation Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>
            <name>mergecontent-metadata-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>
            <name>Minimum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>
            <name>Maximum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>
            <name>Minimum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
        <value>
            <name>Maximum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>
            <name>Max Bin Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>
            <name>Maximum number of Bins</name>
        </value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>
            <name>Delimiter Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>
            <name>Header File</name>
        </value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>
            <name>Footer File</name>
        </value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
            <name>Demarcator File</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>
            <name>Keep Path</name>
        </value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>
            <name>Tar Modified Time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Merge Strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>Binary Concatenation</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>Ignore Metadata</value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>15000</value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
    </entry>
    <entry>
        <key>Max Bin Age</key>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>Filename</value>
    </entry>
    <entry>
        <key>Header File</key>
    </entry>
    <entry>
        <key>Footer File</key>
    </entry>
    <entry>
        <key>Demarcator File</key>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>${file.lastModifiedTime}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>MergeContent</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeContent</type>
                        </processors>
                    </contents>
                    <name>Generate list of facilitytype approved products</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>71e8223b-7e64-3c04-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>274.8389609232138</x>
                        <y>-274.163946799291</y>
                    </position>
                    <versionedComponentId>71e8223b-7e64-3c04-a23b-60f56e9317e1</versionedComponentId>
                    <comments>This process group checks if measures already exist in the FHIR server, if they do, then the process is terminated. If they do not, then the process to generate measures and post them begins</comments>
                    <contents>
                        <connections>
                            <id>8ef667af-983d-3ef0-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>8ef667af-983d-3ef0-b898-a8f0c9a0f778</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>90210bd9-f53a-3c65-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>90210bd9-f53a-3c65-833a-e1e8e302d967</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>1b0b988d-32b0-3c26-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1b0b988d-32b0-3c26-a860-52f292820be1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>99cbdb8d-7ce6-3ba6-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>99cbdb8d-7ce6-3ba6-81d1-5a36fdcc3301</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>1b0b988d-32b0-3c26-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1b0b988d-32b0-3c26-a860-52f292820be1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>1762ccee-056a-350b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1762ccee-056a-350b-b5f7-5362b278ff8b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a8368774-a3fb-3adf-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>a8368774-a3fb-3adf-9bae-e9708aacd166</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>da0beca2-fb04-3054-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>da0beca2-fb04-3054-acdb-98d763267f3a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>297c192f-1b62-3991-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>297c192f-1b62-3991-a55a-5dc13269dee6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ac8d9461-1724-3b67-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>ac8d9461-1724-3b67-9556-17f3c5de03a3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1580.9081705917056</x>
<y>128.21641564649224</y>
                            </bends>
                            <bends>
<x>1580.9081705917056</x>
<y>178.21641564649224</y>
                            </bends>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>d6ebb063-506f-3889-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d6ebb063-506f-3889-909e-0c774bf9c9c4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>d6ebb063-506f-3889-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d6ebb063-506f-3889-909e-0c774bf9c9c4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>afe20654-00b1-3efc-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>afe20654-00b1-3efc-9ff4-8975728a5ac4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>119331a5-4934-3887-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>119331a5-4934-3887-a739-38a12c203830</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>no_measures</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>297c192f-1b62-3991-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>297c192f-1b62-3991-a55a-5dc13269dee6</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e021b00e-cf17-370e-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>e021b00e-cf17-370e-aaa3-bccd156a449e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>297c192f-1b62-3991-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>297c192f-1b62-3991-a55a-5dc13269dee6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>e01b1614-9fee-3d4c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e01b1614-9fee-3d4c-96f6-63161f7683fe</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eb31a2f4-b9ab-3892-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>eb31a2f4-b9ab-3892-b820-0a7ef60c3652</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1583.3590525575685</x>
<y>272.6744203980686</y>
                            </bends>
                            <bends>
<x>1583.3590525575685</x>
<y>322.6744203980686</y>
                            </bends>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>1b0b988d-32b0-3c26-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1b0b988d-32b0-3c26-a860-52f292820be1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>1b0b988d-32b0-3c26-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1b0b988d-32b0-3c26-a860-52f292820be1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1bc2b316-de2c-3264-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>1bc2b316-de2c-3264-ab2e-876186ff78e3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>8402e0ed-542b-346e-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8402e0ed-542b-346e-ad19-8dba95e42603</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>119331a5-4934-3887-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>119331a5-4934-3887-a739-38a12c203830</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>618b00d5-ab3a-3cc9-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>618b00d5-ab3a-3cc9-b2e6-c0dcb8f2ec3f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>d6ebb063-506f-3889-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d6ebb063-506f-3889-909e-0c774bf9c9c4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>423a9ee4-58c4-3c95-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>423a9ee4-58c4-3c95-8280-51fb1e6908da</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7de2c74d-2d0a-37d6-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>7de2c74d-2d0a-37d6-9193-9f1db90e4124</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>e01b1614-9fee-3d4c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e01b1614-9fee-3d4c-96f6-63161f7683fe</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>90210bd9-f53a-3c65-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>90210bd9-f53a-3c65-833a-e1e8e302d967</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7f48c909-9eae-3684-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <versionedComponentId>7f48c909-9eae-3684-94b8-8fc7f69fda52</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>1762ccee-056a-350b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1762ccee-056a-350b-b5f7-5362b278ff8b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>71e8223b-7e64-3c04-0000-000000000000</groupId>
<id>d6ebb063-506f-3889-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d6ebb063-506f-3889-909e-0c774bf9c9c4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>8402e0ed-542b-346e-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>1182.908292662018</x>
<y>737.6735537080157</y>
                            </position>
                            <versionedComponentId>8402e0ed-542b-346e-ad19-8dba95e42603</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>token</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>90210bd9-f53a-3c65-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>521.8036847977955</x>
<y>377.2506110302547</y>
                            </position>
                            <versionedComponentId>90210bd9-f53a-3c65-833a-e1e8e302d967</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>mime.type</key>
        <value>
            <name>mime.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>mime.type</key>
        <value>application/json</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>d6ebb063-506f-3889-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>1125.9081705917056</x>
<y>88.21641564649224</y>
                            </position>
                            <versionedComponentId>d6ebb063-506f-3889-909e-0c774bf9c9c4</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${base_url}/api/oauth/token?grant_type=client_credentials</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>trusted-client</value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>da0beca2-fb04-3054-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>520.1418936882721</x>
<y>731.2130160613334</y>
                            </position>
                            <versionedComponentId>da0beca2-fb04-3054-acdb-98d763267f3a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>Measures Exist</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>e01b1614-9fee-3d4c-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>1130.020833311137</x>
<y>382.23599689823385</y>
                            </position>
                            <versionedComponentId>e01b1614-9fee-3d4c-96f6-63161f7683fe</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>measures_count</key>
        <value>
            <name>measures_count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>measures_count</key>
        <value>$.total</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>119331a5-4934-3887-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>1130.5700968612368</x>
<y>526.379211667</y>
                            </position>
                            <versionedComponentId>119331a5-4934-3887-a739-38a12c203830</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>[
    {
          "name": "beginning_balance",
          "description": "Based on the Stock On Hand from the previous period quantified in dispensing units."
      },
      {
          "name": "total_received_quantity",
          "description": "Total quantity received in the reporting period quantified in dispensing units."
      },
      {
          "name": "total_consumed_quantity",
          "description": "Quantity dispensed/consumed in the reporting period quantified in dispensing units."
      },
      {
          "name": "total_losses_and_adjustments",
          "description": "All kind of losses/adjustments made at the facility."
      },
      {
          "name": "total_stock_out_days",
          "description": "Total number of days facility was out of stock."
      },
      {
          "name": "stock_on_hand",
          "description": "Current physical count of stock on hand quantified in dispensing units."
      },
      {
          "name": "stock_status",
          "description": "Can either be Stockout, Understocked, Adequately Stocked or Overstocked"
      }
  ]</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>2 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>1762ccee-056a-350b-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>521.3529337752993</x>
<y>233.67153954785942</y>
                            </position>
                            <versionedComponentId>1762ccee-056a-350b-b5f7-5362b278ff8b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>token</key>
        <value>
            <name>token</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>token</key>
        <value>$.access_token</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>1b0b988d-32b0-3c26-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>1128.3590525575685</x>
<y>232.6744203980686</y>
                            </position>
                            <versionedComponentId>1b0b988d-32b0-3c26-a860-52f292820be1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${base_url}/hapifhir/Measure</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>Bearer ${token}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>297c192f-1b62-3991-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>523.4655210726268</x>
<y>523.4885377689363</y>
                            </position>
                            <versionedComponentId>297c192f-1b62-3991-a55a-5dc13269dee6</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>no_measures</key>
        <value>
            <name>no_measures</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>no_measures</key>
        <value>${measures_count:le(0)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>no_measures</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>423a9ee4-58c4-3c95-0000-000000000000</id>
                            <parentGroupId>71e8223b-7e64-3c04-0000-000000000000</parentGroupId>
                            <position>
<x>524.0001505721743</x>
<y>88.01388573926567</y>
                            </position>
                            <versionedComponentId>423a9ee4-58c4-3c95-8280-51fb1e6908da</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.5.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>base_url</key>
        <value>
            <name>base_url</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>base_url</key>
        <value>https://uat.openlmis.org</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1000000000000 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <name>Check Measure</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>8c66043a-5237-3d3f-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>884.0422819568615</x>
                        <y>261.10322927645313</y>
                    </position>
                    <versionedComponentId>8c66043a-5237-3d3f-ad4e-a3100421bc3a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>Authorization</key>
<value>
    <name>Authorization</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://uat.openlmis.org/hapifhir/Measure</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>10 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>10 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Authorization</key>
<value>Bearer ${token}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>9adbe3bf-4bf6-36e2-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>881.5913503702573</x>
                        <y>116.79792961947248</y>
                    </position>
                    <versionedComponentId>9adbe3bf-4bf6-36e2-a8ae-58bb972ef1f5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{
  "resourceType": "Measure",
  "name": "${name}",
  "description": "${description}",
  "status": "draft",
  "experimental": true,
  "group": [
    {
      "code": {
        "text": "programName"
      },
      "description": "The program for this measure"
    },
    ${product_list}
  ]
}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>2 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>a76f77e6-1fc0-3ac4-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.9473491974718</x>
                        <y>262.43701779978915</y>
                    </position>
                    <versionedComponentId>a76f77e6-1fc0-3ac4-9b56-ce35904032b6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>b0661296-b138-330a-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>289.2877328293973</x>
                        <y>-28.715556806768348</y>
                    </position>
                    <versionedComponentId>b0661296-b138-330a-8f72-7706e08bd5cd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep All Unique Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>2</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Filename</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>b72f0122-3bfb-31e9-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>878.8221334508423</x>
                        <y>-24.516567542781104</y>
                    </position>
                    <versionedComponentId>b72f0122-3bfb-31e9-9db6-096a1ba7bac5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>fff83129-9564-3dfd-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>295.12312985559777</x>
                        <y>478.8126688905312</y>
                    </position>
                    <versionedComponentId>fff83129-9564-3dfd-9ec0-2ba0219aa9ed</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>2f483b89-d61d-3232-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>885.1674588176513</x>
                        <y>477.4122041514129</y>
                    </position>
                    <versionedComponentId>2f483b89-d61d-3232-8d7e-4337c2003d9d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>4bc8d6cf-8860-3e84-0000-000000000000</id>
                    <parentGroupId>7584b525-5cf4-3b5b-0000-000000000000</parentGroupId>
                    <position>
                        <x>287.99998989615483</x>
                        <y>114.42412154413296</y>
                    </position>
                    <versionedComponentId>4bc8d6cf-8860-3e84-bdb7-763ca06b4987</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>description</key>
<value>
    <name>description</name>
</value>
                            </entry>
                            <entry>
<key>name</key>
<value>
    <name>name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>description</key>
<value>$.description</value>
                            </entry>
                            <entry>
<key>name</key>
<value>$.name</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Generate Measures</name>
            <variables/>
            <versionControlInformation>
                <bucketId>d5960cba-5b80-4321-b610-1fb727e5cf4b</bucketId>
                <bucketName>OpenLMIS Research and Experimentation</bucketName>
                <flowDescription>This flow creates 7 json templates which are used to create FHIR Measure Resources for the OLMIS HAPI FHIR Server</flowDescription>
                <flowId>c4fdc9c1-3961-4076-a7e4-db563effcc2a</flowId>
                <flowName>Generate FHIR Measure Resource templates</flowName>
                <registryId>1271137d-1e02-1d7f-f359-e53e92b3abc0</registryId>
                <registryName>Ona Registry</registryName>
                <state>UP_TO_DATE</state>
                <stateExplanation>Flow version is current</stateExplanation>
                <version>3</version>
            </versionControlInformation>
        </processGroups>
    </snippet>
    <timestamp>04/23/2019 09:26:23 UTC</timestamp>
</template>
